.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #6b46c1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.remoteUser{
    border: 2px solid #6b46c1;
    display: flex;
    align-items: center;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.isConnected h1{
    width: 30%;
    border-radius: 10px;
    margin: 10px 0px;
    font-weight: bolder;
    padding: 2px;
    font-size: 10px;
}
.fa-copy{
    color: black;
}

small div{
    background-color: #6b46c1;
    width: 100%;
    color: white;
    font-weight: bolder;
}

small div :hover{
    cursor: pointer;
}
