.mockSlides{
    position: fixed;
    top:15%;
    box-shadow: 1px 1px 30px rgb(104, 103, 103);
}
.mockSlides{
    position: fixed;
    top:15%;
    box-shadow: 1px 1px 30px rgb(104, 103, 103);
}