.DsaWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.DsaWindow aside{
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(140, 139, 139);
    padding: 10px;
}